<div class="wrap">
  <h2>WP-Spoiler-Alert Settings</h2>
  <form method="POST" action="{{ formUrl }}">
  {{ nonceField | raw }}
  <table class="form-table">
    <tbody>
      <tr>
        <th scope="row">
          <label for="max">Maximum Blur</label>
        </th>
        <td>
          <input type="text" id="max" name="max"
          value="{{ max }}" />
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="partial">Partial Blur</label>
        </th>
        <td>
          <input type="text" id="partial" name="partial"
          value="{{ partial }}" />
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="tooltip">Tooltip</label>
        </th>
        <td>
          <input type="text" id="partial" name="tooltip"
          value="{{ tooltip }}" />
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="custom">Custom Stylesheet</label>
        </th>
        <td>
          <input type="checkbox" id="custom" name="custom"
          {{ custom ? 'checked' : '' }} />
        </td>
      </tr>
    </tbody>
  </table>
  <p class="submit">
    <input name="submit" id="submit" class="button button-primary" value="Save Changes" type="submit">
    <input name="reset" id="reset" class="button" value="Restore Defaults" type="submit">
  </p>
  </form>
</div>
